{% load draw_dropdown %}
{% with items=item.items.all %}
    {% for item in items %}
      {% if item.items.all %}        
        <li><a class="dropdown-item" href="{{ item.get_url }}">{{ item.title }} &raquo;</a>
          <ul class="submenu dropdown-menu">
            {% draw_dropdown item %}
          </ul>
        </li>
      {% else %}
        <a class="dropdown-item">
            <a href="{{ item.get_url }}">{{ item.title }}</a>
        </a>
      {% endif %}
    {% endfor %}
{% endwith %}
